.form {
  &__group {
    width: 50%;
    display: flex;
    flex-direction: column;
    
    input, select, textarea {
      margin: 0.5rem 0;
    }
    
    &.has__error {
      .form__field { 
        border: 1px solid red; 
      }
      .form__message { 
        color: red; 
      }
    }
  }

  &__message {
    height: 1rem;
    width: 100%;
    font-size: 12px;
  }
}
