{
  "presets": [
    [
      "@babel/env", 
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime"
  ]
}