<!DOCTYPE html>
<html lang="fr">
<head>
	{{> partials/p-head}}
</head>
<body class="">
	<main class="container">
		<form 
			class="form js__form__control--2" 
			data-form-control="true"
			data-validation-type="onSubmit">
		  <div class="form__group">
		    <label for="name2">Name</label>
		    <input 
		    	id="name2" 
		    	class="form__field" 
		    	type="text"
	    	  data-form-validators="isRequired minLen_4 maxLen_12"/>
		  </div>
		  <div class="form__group">
		    <label for="password">Password</label>
		    <input 
		    	id="password" 
		    	name="password"
		    	class="form__field" 
		    	type="password"
	    	  data-form-validators="isPassword"/>
		  </div>
		  <div class="form__group">
		    <label for="password2">Password</label>
		    <input 
		    	id="password2" 
		    	name="password2"
		    	class="form__field" 
		    	type="password"
	    	  data-form-validators="isEqual_#password"/>
		  </div>
		  <div class="form__group">
		    <label for="isNumber">Integer</label>
		    <input 
		    	id="isNumber" 
		    	class="form__field" 
		    	type="text"
	    	  data-form-validators="isInteger"
	    	  data-error-msg-is-integer="Test custom error"/>
		  </div>
		  <div class="form__group">
		    <label for="number2">Number</label>
		    <input 
		    	id="number2" 
		    	class="form__field" 
		    	type="number" 
		    	data-form-validators="isRequired"/>
		    <div class="form__message"></div>
		  </div>
		  <div class="form__group">
		    <label for="phone2">Phone</label>
		    <input 
		    	id="phone2" 
		    	class="form__field" 
		    	type="text"
		    	data-form-validators="isPhone"/>
		    <div class="form__message"></span></div>
		  </div>
		  <div class="form__group">
		    <label for="email2">Email</label>
		    <input 
		    	id="email2" 
		    	class="form__field" 
		    	type="text"
		    	data-form-validators="isEmail"/>
		    <div class="form__message"></span></div>
		  </div>
		  <div class="form__group">
		    <label for="siret2">Siret</label>
		    <input 
		    	id="siret2" 
		    	class="form__field" 
		    	type="text"
		    	data-form-validators="isSiret"/>
		    <div class="form__message"></div>
		  </div>
		  <div class="form__group">
		    <label for="bic2">Bic</label>
		    <input 
		    	id="bic2" 
		    	class="form__field" 
		    	type="text"
		    	data-form-validators="isBic"/>
		    <div class="form__message"></div>
		  </div>
		  <div class="form__group">
		    <label for="iban2">Iban</label>
		    <input 
		    	id="iban2" 
		    	class="form__field" 
		    	type="text"
		    	data-form-validators="isIban"/>
		    <div class="form__message"></div>
		  </div>
		  <div class="form__group">
		    <label for="url2">URL</label>
		    <input 
		    	id="url2" 
		    	class="form__field" 
		    	type="url"
		    	data-form-validators="isUrl"/>
		    <div class="form__message"></div>
		  </div> 
		  <div class="form__group">
		    <label for="select2">Select</label>
		    <select id="select2" data-form-validators="isRequired">
		      <option value="">Make a choice</option>
		      <option value="1">1</option>
		    </select>
		    <div class="form__message"></div>
		  </div> 
		  <div class="form__group">
		    <label for="checking2">Checked</label>
		    <input 
		    	id="checking2" 
		    	class="form__field" 
		    	type="checkbox"
		    	data-form-validators="isChecked"/>
		    <div class="form__message"></div>
		  </div>  
		  <div class="form__group form__group--row">
		    <button type="submit">Send</button>
		    <button type="reset">Reset</button>
		  </div>
		</form>
	</main>
</body>
</html>